<div class="col-lg-3 col-md-4 col-xs-6 thumb" style="margin-top: 20px; height: 300px">
  <div class="thumbnail" style="background-color: #2a3b46; height: 100%">
    <%= link_to t do %>
      <div style="height: 60%; width: 100%">
        <% if t.image.nil? %>
          <%= image_tag "http://placehold.it/400x300", class: "img-responsive img-res" %>
        <% else %>
          <%= image_tag t.image, class: "img-responsive img-res" %>
        <% end %>
      </div>
    <% end %>
    <div class="item-description">
      <%= link_to t do %>
        <p class="item-name"><%= t.name %></p>
      <% end %>
      <p class="item-detail-review"><%= pluralize comments_count(t), "Comment" %></p>
      <p class="homepage-star">
        <% average_rating = average_rate(t).to_f %>
        <% if average_rating <= 1.5 %>
          <%= number_with_precision(average_rating, precision: 1) %> '★☆☆☆☆'
        <% elsif average_rating <= 2.5 %>
          <%= number_with_precision(average_rating, precision: 1) %> '★★☆☆☆'
        <% elsif average_rating <= 3.5 %>
          <%= number_with_precision(average_rating, precision: 1) %> '★★★☆☆'
        <% elsif average_rating <= 4.5 %>
          <%= number_with_precision(average_rating, precision: 1) %> '★★★★☆'
        <% else %>
          <%= number_with_precision(average_rating, precision: 1) %> '★★★★★'
        <% end %>
      </p>
    </div>
  </div>
</div>