<div class="col-lg-3 col-md-4 col-xs-6 thumb" style="margin-top: 20px; height: 300px">
  <div class="thumbnail" style="background-color: #2a3b46; height: 100%">
    <%= link_to item do %>
      <div style="height: 60%; width: 100%">
        <% if item.image.nil? %>
          <%= image_tag "http://placehold.it/400x300", class: "img-responsive" %>
        <% else %>
          <%= image_tag item.image, class: "img-responsive img-res" %>
        <% end %>
      </div>
      <div class="item-description">
      <p class="item-name"><%= cut_off item.name %></p>
      <p class="item-detail-review"><%= pluralize comments_count(item), t("comment") %></p>
      <p class="homepage-star"><%= time_ago_in_words item.created_at %></p>
    </div>
    <% end %>
  </div>
</div>