<div class="stars">
    <% (1..5).each do |t| %>
        <% if @rate.value == 6-t %>
            <input class="star star-<%= 6-t %>" id="star-<%= 6-t %>" type="radio"
                name="star" onchange="rating(<%= 6-t %>)" checked />
        <% else %>
            <input class="star star-<%= 6-t %>" id="star-<%= 6-t %>" type="radio"
                name="star" onchange="rating(<%= 6-t %>)" />
        <% end %>
        <label class="star star-<%= 6-t %>" for="star-<%= 6-t %>"></label>    
    <% end %>
</div>

<%= render 'movie/rate_form', rate: rate %>