<div class="article-section container">
    <h1 class="text-center story-header"><%= @movie.name %></h1>
    <!------------------------------------------->
    <% if user_signed_in? and current_user.is_admin? %>
        <div class="col-lg-offset-10">
            <div onclick="show_menu()">
                <div class="edit-menu"></div>
                <div class="edit-menu"></div>
                <div class="edit-menu"></div>
            </div>
            <ul class="dropdown-content drpdwn-menu" id="menu">
                <%= link_to edit_movie_path(@movie) do %>
                    <i class="fa fa-pencil fa-fw"></i>  Edit this Review
                <% end %>
                <%= link_to @movie, method: :delete do %>
                    <i class="fa fa-times fa-fw"></i>  Delete this Review
                <% end %>
            </ul>
        </div>
    <% end %>
    <!------------------------------------------->
    <br>
    <div class="row">
        <div class="col-md-4 product-images" id="rate_star">
            <%= image_tag get_movie_image(@movie), class: "img-responsive" %>
            <% if user_signed_in? %>
                <%= render 'movie/star_form', rate: @rate %>
            <% end %>
        </div>
        <div class="col-md-8">
            <div id="comment-top" style="cursor: pointer;" class="comment-count" onclick="commentFocus()">
                <%= pluralize @movie.comments.count, "comment" %>
            </div>
            <br><br>
			<div style="cursor: pointer" class="comment-count" id="average_rate">
			    <%= pluralize @movie.rates.count, "rate" %> : <%= average_rate(@movie) %> / 5
		    </div>
	        <br><br>
			<p class="spec-text">MOVIE DETAILS</p>
			<ul>
				<li><b class="spec-type">Producer:</b>
				    <%= link_to "#{get_producer @movie}", @movie.producer %>
				</li>
				<li><b class="spec-type">Year:</b> <%= link_to "#{@movie.year}", year_index_path(year: @movie.year) %></li>
				<li><b class="spec-type">Episode:</b> <%= @movie.episode %></li>
				<li><b class="spec-type">Actor:</b> 
				    <% get_actors(@movie).each.with_index do |t, i| %>
				        <% if i==0 %>
				            <%= link_to "#{t.name}", t %>
			            <% else %>
			                ; <%= link_to "#{t.name}", t %>
		                <% end %>
				    <% end %>
				</li>
				<li><b class="spec-type">Category:</b> 
				    <% get_categories(@movie).each.with_index do |t, i| %>
				        <% if i==0 %>
				            <%= link_to "#{get_category t.value}", category_index_path(value: t.value) %>
			            <% else %>
			                ; <%= link_to "#{get_category t.value}", category_index_path(value: t.value) %>
		                <% end %>
				    <% end %>
				</li>
			</ul>
        </div>
    </div>
    
    <br>
    
    <div class="row overview-section">
        <h4 class="h4-title">Description</h4>
        <br>
        <p><%= @movie.description %></p>
    </div>
    
    <div class="detailed-review-body"></div>
    <h3 class="comment-title">Comments</h3>
    <div class="comment-section">
        <div class="row" id="comment-row">
            <% get_comments(@movie).each do |comment| %>
                <%= render "movie/comment", cmt: comment %>
            <% end %>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <% if user_signed_in? %>
                    <%= form_for @comment, url: comment_index_path, remote: true do |t| %>
                        <%= t.text_field :content, class: "form-control", autocomplete: "off",
                            placeholder: "Write a comment ..." %>
                        <%= t.hidden_field :user_id, value: current_user.id %>
                        <%= t.hidden_field :movie_id, value: @movie.id  %>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <br>
    <% if user_signed_in? %>
        <h4>Recommend Movies</h4>
        <div class="comment-section">
            <div class="row">
                <div class="col-lg-12">
                    <% @recommend_movie.each do |t| %>
                        <%= render 'home/top_newest', item: t %>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>
