<!DOCTYPE html>
<html>
<head>
  <title>Filmreview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <% if is_admin? %>
    
    <%= render 'layouts/header' %>
    <div class="col-lg-10 col-lg-offset-1" style="padding-left: 100px">
      <%= render 'layouts/option_navbar' %>
    </div>
    <%= render 'layouts/admin_navbar' %>
    <div class="w3-main" style="margin-left:250px;padding-top:70px;">
      <div class="w3-container">
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>
    
  <% else %>
    
    <div class="col-lg-10 col-lg-offset-1">
      <%= render 'layouts/header' %>
      <div class="container">
        
        <%= render 'layouts/option_navbar' %>
        
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  
  <% end %>
</body>
</html>
